body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 80%;
  gap: 0.5rem;
  margin: 5rem 5rem 0 5rem;
}

.login-form-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to next line */
  justify-content: center;
  align-items: flex-start; /* Top-aligned rows */
  gap: 2rem; /* Spacing between forms */
  padding: 2rem;
  background-color: #f0f4f8;
  box-sizing: border-box;
}

.login-form-container > * {
  flex: 1 1 calc(25% - 2rem); /* Max 4 per row */
  max-width: calc(25% - 2rem);
  min-width: 280px; /* Prevent too small on narrow screens */
}